body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    max-width: 1777px;
    margin: 0 auto;


}

header {

    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    background-image: url(./images/heading-background.png);
    background-repeat: no-repeat;
    background-attachment: center top;
    background-position: center;
    background-position-y: top;
    height: 1042px;
    width: 100%;
    max-width: 1777px;
    margin: 0 auto;
}

.nav {
    margin: 4px auto;
    width: 100%;
    height: 156px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav__menu>a {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 400px;
    line-height: 28px;

}

.nav__menu:first-child {
    margin-left: 20px;
}

.nav__menu-items {
    margin-left: 20px;
    text-decoration: none;

}


.nav>img {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.nav>i {
    display: none;
    color: #fff;
    font-size: 32px;
    position: relative;

}

.nav__links {
    margin-right: 40px;
}

.nav__links>img {
    margin-left: 28px;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
}

.container__title,
.container__text-content,
.container__buton-trial {
    text-align: center;
    color: #fff;
    display: block;
}

.container__title {
    max-width: 672px;
    font-size: 74px;
    font-weight: 700;
    line-height: 84px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.2px;
}

.container__text-content {
    max-width: 766px;
    font-size: 28px;
    font-weight: 400px;
    line-height: 40px;
    margin: -23 auto;


}

.container__button-trial {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 70px;
    line-height: 28px;
}

.feature {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.feature__tile,
.feature__text-content,
.feature__item {
    margin: 0 auto;
    text-align: center;

}

.feature__tile {
    max-width: 194px;
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 10px;
    color: #252B42;
    ;

}

.feature__text-content {
    max-width: 532px;
    height: 80px;
    margin: 17px auto;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #374754;

}
.feature-element{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.feature__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    width: 100%;
}

.feature__item-style {
    display: inline-block;
    width: calc(100%/3);
    max-width: 255;
    height: 257px;
    margin: 0 26px;
    position: relative;
}

.feature__item-style>img {
    width: 47px;
    height: 47px;
}

.feature__item-style--content {
    margin-top: 27px;
    color: #252B42;

}

.feature__item-style--text {
    position: absolute;
    bottom: 0%;
    font-size: 18px;
    line-height: 25px;
    color: #374754;

}

.feature_video {
    display: flex;
    text-align: center;
    margin: 80px auto 53px;
    position: relative;
    align-items: center;
    width: 100%;

}

.feature_video>img {
    margin: 0 auto;
    width: 100%;
}

.feature__video-play {
    display: flex;
    position: absolute;
    width: 187.5;
    height: 187.5;
    border-radius: 50%;
    background-color: #2091F9;
    left: 50%;
    transform: translateX(-50%);

}

.feature__video-play>img {
    margin: auto auto;
    width: 20%;
    height: 20%;
}

.hero-light {
    display: flex;
    width: 100%;
}

.hero-content {
    margin: 276px auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    max-width: 1243px;

}

.hero-content-frame {
    display: inline-block;
    /* align-items: center; */
    flex-direction: column;
    width: 50%;
    margin-right: 25px;
    margin-top: 50.6px;

}

.hero-content-tile {
    color: #252B42;
    font-size: 48px;
    line-height: 55px;
    font-weight: 400;

}

.hero-content-text {
    color: #374754;
    font-size: 28px;
    line-height: 40px;
    font-weight: 400;
}

.primary-btn {
    display: inline-block;
    background-color: #2091F9;
    border-radius: 35px;
    padding: 16px 59.5px;
    color: #fff;
    text-decoration: none;
}

.hero-content-button {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 70px;
    line-height: 28px;

}

.hero-content-frame2 {
    display: inline-block;
    width: 50%;
    margin: 50.6px 0 50.6px 25px;

}
.hero-content-frame2:first-child{
    width: 100%;
}

/* Reponsive Tablet
*/

@media (max-width: 1023px) {
    .nav {
        height: 112px;

    }

    .nav__links,
    .nav__menu {
        display: none;
    }

    .nav>img {
        display: inline-block;
        left: 0%;
        transform: unset;
        position: unset;
        margin-left: 25px;
    }

    .nav>i {
        display: inline-block;
        margin-right: 25px;

    }

    .container__title {
        margin-top: 60px;
        font-size: 48px;
        font-weight: 400;
        line-height: 55px;
        padding: 10px;
    }

    .container__text-content {
        margin-top: 27px;
        padding: 10px;

    }

    .feature__item {
        flex-direction: column;
    }

    .feature__item-style {
        margin-bottom: 75px;
        width: 100%;
    }
    .feature-element{
        flex-direction: column-reverse;
    }
    .feature__video-play{
        width: 62px;
        height: 62px;
    }
    .hero-content, .hero-content:first-child{
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    .hero-content-frame2,.hero-content-frame{
        margin: 0 auto;
    }

}